
<%= link_to("<< Back to List", {:action => 'postshow'}, :class => 'back-link') %>

<div class="Post show">
  <h2>Show Page</h2>

  <table summary="Post detail view">
    <tr>
      <th>Title</th>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <th>city</th>
      <td><%= @post.city %></td>
    </tr>
    <tr>
      <th>description</th>
      <td><%= @post.description %></td>
    </tr>
    <tr>
      <th>Date Lost</th>
      <td><%= @post.date %></td>
    </tr>
    <tr>
      <th>Post Created</th>
      <td><%= @post.created_at %></td>
    </tr>
    <tr>
      <th>Image</th>
      <td>
        <% if @post.image.present? %>
          <%= image_tag @post.image.url(:medium) %> 
        <% else %>
          <%= image_tag "blank_150.jpg" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Breed</th>
      <td><%= @post.cat_breed %></td>
    </tr>
    <tr>
      <th>Color</th>
      <td><%= @post.cat_color %></td>
    </tr>

  </table>

</div>